@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgba(9, 8, 8, 0.142);
  font-family: 'Poppins', sans-serif;

}
body{
  margin: 0;
  padding: 0;
  background-size:100%;
  background-image: url(images/home-bg.jpg);

}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  background: rgba(0, 0, 0, 0);
  text-align: center;
}

.logo{
  position:absolute;
  left: 170px;
  top: 18%;
  transform: translate(-50%,-50%);
  background: rgba(0, 0, 0, 0);
  

}

.heading{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items:center;
  text-align:center;
  min-height: 50vh;
  font-size: 50px;
}

.btn{
  border: none;
  margin: 20px;
  padding: 24px;
  width: 220px;
  font-family: "montserrat",sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  transition: 0.6s;
}

.btn1{
  background-image: linear-gradient(to left,#FFC312,#EE5A24,#FFC312);
}

.btn2{
  background-image: linear-gradient(to left,#C4E538,#009432,#C4E538);
}

.btn3{
  background-image: linear-gradient(to left,#12CBC4,#0652DD,#12CBC4);
}

.btn4{
  background-image: linear-gradient(to left,#FDA7DF,#9980FA,#FDA7DF);
}

.btn:hover{
  background-position: right;
}
