*{
    margin:0; padding:0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: verdana, geneva, tahoma, sans-serif;
    font-weight: normal;
}

body{
    background-image: url(images/videobg.jpg);
}

.heading{
    color:#fff;
    font-size: 40px;
    text-align: center;
    padding: 10px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding:5px 5%;
}

.container .main-video{
    background-color: #fff;
    border-radius: 5px;
    padding: 10px;
}

.container .main-video video{
    width:100%;
    border-radius: 5px;
}

.container .main-video .title{
    color: #333;
     font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}
/* 888888888888888888888888888888888.container .video-list{
    background-color: #fff;
    border-radius: 5px;
    height: 420px;
    overflow-y: scroll;
} */
.container .video-list{
    background-color: #fff;
    border-radius: 5px;
    height: auto; /* Set to auto or specific value for 3 videos */
    
    overflow-y: hidden; /* Prevent scrolling */
}
.container .video-list::-webkit-scrollbar{
    width: 7px;
}

.container .video-list::-webkit-scrollbar-track{
    background: #ccc;
    border-radius: 50px;
}

.container .video-list::-webkit-scrollbar-thumb{
    background: #666;
    border-radius: 50px;
}

.container .video-list .vid video{
    width: 100px;
    border-radius: 5px;
}

/* *********88888888888888888888888.container .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
} */
.container .video-list .vid{
    display: flex;
    align-items: center;
    gap: 15px;
    background: #f7f7f7;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}
.container .video-list .vid:hover{
    background: #eee;
}

.container .video-list .vid:active{
    background: #2980b9;
}

.container .video-list .vid:active .title{
    background: #fff;
}

.container .video-list .vid .title{
    color: #333 ;
    font-size: 17px;
}
.btn{
    text-align: center;
    padding-top: 5px;
    
   }

@media (max-width:991px){
    
   .container{
     grid-template-columns: 2fr 1fr;
     padding:10px;
  } 
    
    
}

@media (max-width:786px){
    
   .container{
     grid-template-columns: 1fr;
    
  } 
    
    
}